@model TicketVerkoop.ViewModels.ReservationVM

<li>
    <div>
        <div>
            <span>Match Datum: @Model.MatchDate</span>
        </div>
        <div>
            <span>Tickets: @Model.NumberOfTickets</span>
        </div>
        <div>
            <span>Prijs: @Model.Price.ToString("C2")</span>
        </div>
        <div>
            <span>Vak: @Model.SectionName</span>
        </div>
        <div>
            <span>Thuis Ploeg: @Model.HomeTeam</span>
        </div>
        <div>
            <span>Uit Ploeg: @Model.AwayTeam</span>
        </div>
    </div>
</li>
