@model TicketVerkoop.ViewModels.MatchSectionVM

@if (Model != null)
{
    <li>
        <div class="sectionTile" data-id="@Model.Id">
            <div class="sectionName">
                <span>@Model.Name</span>
            </div>
            <div class="sectionAvailablePlaces">
                <span>Beschikbare plaatsen: @Model.AvailablePlaces</span>
            </div>
            <div class="sectionPrice">
                <span>Prijs: @Model.Price</span>
            </div>
            <div class="sectionRing">
                <span>Ring: @Model.Ring</span>
            </div>
            @*<div>
                @Html.ActionLink("Add To ShoppingCart", "Select","ShoppingCart", new { id = Model.Id })
            </div>*@
        </div>
    </li>
}
