@model IEnumerable<TicketVerkoop.ViewModels.ReservationVM>

@{
    ViewData["Title"] = "ListReservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>Mijn Reservaties</h1>
    <p>U kunt een ticket tot 1 week voor de wedstrijd annuleren, zonder kosten.</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MatchDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfTickets)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SectionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HomeTeam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AwayTeam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReservationDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.MatchDate.ToString("g")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfTickets)
                </td>
                <td>
                    @item.Price.ToString("C2")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeTeam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwayTeam)
                </td>
                <td>
                    @item.ReservationDate.ToString("g")
                </td>
                <td>
                    @if (item.MatchDate - DateTime.Now >= TimeSpan.FromDays(7))
                    {
                        <a asp-action="DeleteReservation"
                           asp-route-Id="@item.Id">
                            <img src="~/images/Delete_Icon.png" />
                        </a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    @await Html.PartialAsync("DisplayTemplates/_NotLoggedInView")
}
